html {
  font-size: 62.5%;
}
.click{
  height: 100%;
}
.electric:hover~.electric-dd{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.scroll {
  height: 200vh;
  width: 100vw;
}
/* navigation bar */
.nav,
.brand-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav.scrolled {
  background-color: #000 !important;
  transition: all 200ms linear;
}
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.brand-nav {
  padding: 0.5rem;
}
.brand-nav img {
  width: 12rem;
  margin: 2rem;
}
.brand-nav img.scrolledImg {
  width: 8rem;
  margin: 1rem;
  transition: all 0.2s;
}
.brand-nav h3 a {
  font-size: 1.7rem;
  color: black;
  text-decoration: none;
  font-weight: 400;
}
.nav-menu {
  width: 50%;
  transform: translateX(-2rem);
}
.nav-list {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.dd h3 {
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  margin: 0;
}
.dd h3.scrolledList,
.nav-list li a.scrolledList,
.brand-nav h3 a.scrolledList {
  color: white;
  transition: all 200ms linear;
}
.nav-list li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav-list li a:hover {
  color: #dc0000;
}
.icon {
  transform: translateX(0.6rem);
  color: #dc0000;
  transition: all 0.2s;
}
/* dropdowns */
.dd {
  position: relative;
}
.dd:hover .icon {
  transform: translateX(0.6rem) rotateZ(180deg);
}
.dd-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  background-color: black;
  padding: 1rem;
  width: 30rem;
  border-radius: 1rem;
  transition: all 0.2s;
  transform: translateY(0.7rem);
  z-index: 5;
}
.dd-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dd-menu ul li {
  margin: 1.4rem 0;
  text-align: center;
  width: 100%;
  position: relative;
}
.electric-dd{
  /* width:10rem;
  background-color: #f20045;
  position: absolute;
  left:107%; top:0;
  border-radius: 1rem;
  color: white; */
  height: 0;
  color: white;
  overflow: hidden;
}
.electric{
  transition: height .3s;
}
.dd-menu ul li a {
  color: white;
}
.dd-menu ul li a:hover {
  color: #dc0000;
}
.cars-dd {
  width: 20rem;
}
.dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.ham {
  display: none;
}
.dd h3.scrolledList,
.nav-list .simple-link a.scrolledList,
.brand-nav h3 a.scrolledList {
  color: white;
  transition: all 200ms linear;
}
.noScrollY {
  overflow-y: hidden;
}
/* end of navigation bar */

/* main content */
.dep-section {
  width: 100%;
  position: relative;
  top: 7rem;
  margin-bottom: 4rem;
}
.dep-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
}
.dep-heading h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
}
.dep-heading h1 span {
  color: #f20045;
}
.dep-breakdown {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.dep {
  height: 90%;
  width: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s;
}
.dep:hover {
  transform: scale(1.1);
}
.technical {
  background-image: url("../Photos/undraw_QA_engineers_dg5p.png");
}
.operational {
  background-image: url("../Photos/undraw_mobile_marketing_iqbr(1).png");
}
.heading h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  
  font-weight: 700;
}
/* end of main content */
/* FOOTER */
#footerID {
  text-align: center;
  padding: 5rem 10rem 0 10rem;
  background-color: rgb(231, 219, 219);
  margin: 0;
}
.contacts,
.address {
  text-align: left;
  padding: 0 4% 4% 4%;
  position: relative;
  margin-bottom: 5%;
  font-size: 1.5rem;
}
.address h4,
.contacts h4,
.feedback h4 {
  color: #dc0000;
  font-size: 1.7rem;
}
.feedback {
  text-align: left;
  padding-left: 4%;
  padding-right: 3%;
  margin-top: -10%;
  font-size: 1.5rem;
}

#googleMap {
  margin-left: auto;
  width: 100%;
  height: 30rem;
}
.social-media p {
  margin: 0;
}
.social-media-buttons {
  margin: 20px 15px;
}

.social-media button:nth-child(2):hover .social-media-buttons {
  color: #ff0000;
}
.social-media button:nth-child(3):hover .social-media-buttons {
  color: #4267b2;
}
.social-media button:nth-child(4):hover .social-media-buttons {
  color: #f20045;
}
.social-media button:nth-child(5):hover .social-media-buttons {
  color: rgb(196, 7, 79);
}

/* END OF FOOTER */

/* responsive */
@media (max-width: 1175px) {
  .nav-menu {
    width: 55%;
  }
}
@media (max-width: 1100px) {
  .brand-nav img {
    width: 10rem;
    margin: 1rem;
  }
  .nav-menu {
    width: 58%;
  }
}
@media (max-width: 1000px) {
  .nav-menu {
    position: fixed;
    width: 30%;
    min-height: 100vh;
    top: 0;
    background-color: black;
    right: -50%;
    transform: translateX(0);
    transition: all 0.5s;
    z-index: 9;
    overflow-y: auto;
  }
  .nav-list {
    flex-direction: column;
    /* min-height: 50vh; */
    height: 100vh;
  }
  .nav-list li a,
  .dd h3 {
    color: white;
  }
  .brand-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .brand-nav img {
    margin-right: 0;
  }
  .ham {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    transform: translateX(-1rem);
    cursor: pointer;
    z-index: 10;
  }
  .line {
    width: 100%;
    height: 0.2rem;
    background-color: #dc0000;
    transition: all 0.3s;
  }
  .brand-nav h3 a {
    font-size: 2.4rem;
    text-align: center;
  }
  .menu-1 {
    transform-origin: left;
    transform: rotate(405deg);
  }
  .menu-2 {
    opacity: 0;
  }
  .menu-3 {
    transform-origin: left;
    transform: rotate(-405deg);
  }
  .show {
    right: 0;
  }
  .dd {
    width: 80%;
    text-align: center;
  }
  .dd-menu {
    position: relative;
    overflow: hidden;
    height: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
  }
  .dd-menu ul {
    height: 100%;
  }
  .dd-menu ul li a {
    color: black;
  }
  .dd-menu ul li a.scrolledNav {
    color: black;
  }
  .dropdown {
    height: 100%;
  }
  .nav-list li a,
  .dd h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 800px) {
  .nav-menu {
    width: 100%;
    right: -100%;
  }
  .show {
    right: 0;
  }
}
@media (max-width: 600px) {
  .brand-nav h3 a {
    font-size: 2.1rem;
  }
  .brand-nav img {
    width: 8rem;
  }
}
@media (max-width: 500px) {
  .brand-nav h3 a {
    font-size: 1.9rem;
  }
  .brand-nav img {
    width: 7rem;
  }
  .ham {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 420px) {
  .brand-nav h3 a {
    font-size: 1.7rem;
  }
  .brand-nav img {
    width: 6rem;
  }
}
@media (max-width: 390px) {
  .brand-nav h3 a {
    font-size: 1.5rem;
  }
  .brand-nav img {
    width: 5rem;
  }
}
